*checkpoint.ipynb
*checkpoint.py
*personal.ipynb
.virtual_documents/*
*/.ipynb_checkpoints/*
examples/*/.ipynb_checkpoints/*
examples/*/workbooks/*
examples/*/workbook/*
.env
.venv/
__pycache__/
**/__pycache__**
example/env
env/